.header {
  position: fixed;
  z-index: 10000;
}

.gallery {
  height: 100vh;
  position: relative;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.cards li {
  list-style: none;
  width: 75%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  top: 12%;
  left: 12%;
  border-radius: 0.8rem;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: 0.5;
}

.card-text h3, .card-text p {
  font-family: "Oswald", "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  color: #f0ece2;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.card-text p {
  font-size: 50px;
}

.black h3, .black p {
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
}

.rating {
  mask-image: url(/images/stars.svg);
  mask-repeat: no-repeat;
  mask-size: auto 100%;
  mask-position: center;
  align-self: flex-end;
}

.black .rating {
  filter: invert(1);
}

.social-wrapper {
  padding-left: 30%;
}